@import 'nib'
@import 'fonts'
@import 'sprites/bear'

*
	margin:0
	padding:0

a
	color: #00B7FF

#nav
	position:fixed
	top:0
	width:100%
	background: linear-gradient(top, white, black);
	padding:10px

	h1
		color:white
		font-family:faster_one

	p
		color:white