extends layout

block content
  #nav
    h1= title
    p Welcome to the jungle
  #game-canvas

block scripts
    script(src='/socket.io/socket.io.js')
    != js('app')
    != js('lib/melonJS-0.9.5-min')
    != js('game')