/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:f7221411a058bbb0e705793933385a59$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(aMothaFuckinBearSheet.png);}

.BearJumping_jump {width:310px; height:620px; background-position: -0px -0px}
.BearJumping_jump1 {width:310px; height:620px; background-position: -310px -0px}
.BearJumping_jump2 {width:310px; height:620px; background-position: -620px -0px}
.BearJumping_jump3 {width:310px; height:620px; background-position: -930px -0px}
.BearPull_pull1 {width:310px; height:620px; background-position: -1240px -0px}
.BearPull_pull2 {width:310px; height:620px; background-position: -0px -620px}
.BearPull_pull3 {width:310px; height:620px; background-position: -310px -620px}
.BearPush_push1 {width:310px; height:620px; background-position: -1240px -0px}
.BearPush_push2 {width:310px; height:620px; background-position: -620px -620px}
.BearPush_push3 {width:310px; height:620px; background-position: -930px -620px}
.BearStationary_Breathe2 {width:310px; height:620px; background-position: -1240px -620px}
.BearStationary_Breathe3 {width:310px; height:620px; background-position: -0px -1240px}
.BearStationary_breathe1 {width:310px; height:620px; background-position: -1240px -0px}
.BearWalking_walk1 {width:310px; height:620px; background-position: -1240px -0px}
.BearWalking_walk2 {width:310px; height:620px; background-position: -310px -1240px}
.BearWalking_walk3 {width:310px; height:620px; background-position: -620px -1240px}
.BearWalking_walk4 {width:310px; height:620px; background-position: -930px -1240px}
.BearWalking_walk5 {width:310px; height:620px; background-position: -1240px -1240px}
